body {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
}
.output {
  color: white;
}
.active:after {
  content: '_';
}
.list{
  color: #1be2fc;
  padding-left: 2.5em;
}

.list_item{
  padding-top: 5px;
}
