#stop {
  visibility: hidden;
  position: absolute;
  left: 10px;
  top: 10px;
}

#play {
  visibility: visible;
  position: absolute;
  left: 10px;
  top: 10px;
}

#loader {
  visibility: hidden;
  position: absolute;
  left: 100px;
  top: 20px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
