/*Set the background image*/
body {
  background: url("assets/img/carpet1-tiling.png"), #a2b6f8;
	margin: 0;
	padding: 0;
  align: center;
  text-align: center;
}

/*General tag for most page content*/
.content{
  padding-top: 20px;
  text-align: center;
  align: center;
}

/*Page Title CSS*/
.title{
  margin: auto;
  color: white;
  background-color: black;
  align: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  border:2px solid Violet;
}

/*Information about the call-in show*/
.about{
  margin: auto;
  color: black;
  align: center;
  text-align: center;
  width: 90%;
  height: fit-content;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  border:2px solid Violet;
}

/*Center it*/
.centerit{
  margin: auto;
  color: white;
  align: center;
  text-align: center;
  width: 350px;
  height: fit-content;
}

#app{
	height: 500px !important;
}


@media (max-width: 900px){
  #noWebGL2{
    display: block !important;
  }
	#webamp{
    display: none !important;
  }
	#app{
		height: 0px !important;
	}

  .title{
    font-size: 14px;
  }
}

@media (max-width: 800px){ .title { font-size: 12px; } }
@media (max-width: 700px){ .title { font-size: 10px; } }
@media (max-width: 600px){ .title { font-size: 8px; } 
.about { font-size: 16px; width: 300px; } }
@media (max-width: 500px){ .title { font-size: 6px; } }



/*===[Media Player CSS]=======================================================*/
.player{
    /*position: relative;*/
    width: 350px;
    /*background: #f1f3f4;*/
    box-shadow: 0 50px 80px rgba(0,0,0,0.25);
}
.player .imgbx{
    /*position: relative;*/
    /*width: 100%;*/
    height: 350px;

}
.player .imgbx img{
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player audio{
    height: 40px;
    width: 100%;
    outline:none;
}

