@font-face {
  font-family: 'pixChicago';
  src: url('fonts/pixChicago.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img { 
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html, body {
    background-color: #ff819c;
    color: #69ffb9;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    padding: 0;
    margin: none;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin: 0;
  padding: 0;
}


#imac_icon {
  width: 16px;
  height: 16px;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 25px;
}

.taskbar_spacer {
  width: 20px;
}

.taskbar_item{
  color: black;
  font-family: 'pixChicago';
  padding-top: 4px;
  font-size: 11px;
}

.taskbar_item:active {
  color: #54b79b;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  display: flex;
}

.dragdiv h1 {
  color: #BFC0C0;
}
  
.dragdiv {
  height: auto;
  width: min-content;
  position: absolute;
  background-color: #FFFFFF;
  text-align: center;

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  
  background-color: black;

  overflow: hidden;

}
  
.dragdivheader {
  height: 23px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: grab;
  background-color: #FFFFFF;
  display: flex;
  justify-items: center;
  margin-top: 1px;
  min-width: 225px;
}

.header_bars {
  width: 2px;
  height: 2px;
  box-shadow:0 1px 0 1px #fff, 0 2px 0 1px #000000,
             0 4px 0 1px #fff, 0 5px 0 1px #000000, 
             0 7px 0 1px #fff, 0 8px 0 1px #000000, 
             0 10px 0 1px #fff, 0 11px 0 1px #000000, 
             0 13px 0 1px #fff, 0 14px 0 1px #000000, 
             0 16px 0 1px #fff, 0 17px 0 1px #000000;
  flex-grow: 4;
}

#header_bars_short {
  margin-left: 3px;
  max-width: 6px;
}

#header_bars_right {
  width: 2px;
  padding-left: 25px;
  margin-right: 3px;
}

.header_square {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid black;
}

.header_title {
  text-align: center;
  font-family: 'pixChicago';
  font-size: 11px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 4px;
  color: black;
  align-self: center;
}

.apple_slider {
  background: white;
  border: 3px solid black;
  outline: 2px solid white;
  width: 80px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25px; /* Full-width */
  height: 150px; /* Specified height */
  background: white; /* Grey background */
  border: 3px solid black;
  outline: 2px solid white;
  border-radius: 10px;
}


/*The one I care about on firefox*/
.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
  border: 3px solid black;
}

.dragdiv_window {
  background-color: black;
  height: 100%;
  border: 2px solid white;
  
  margin-top: 2px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/*
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #04AA6D; 
  cursor: pointer;
}
*/


#stop {
  visibility: hidden;
  padding-top: 20px;
}

#stop_btn {
  width: 40px;
  height: 40px;
}

#play {
  visibility: visible;
  padding-top: 20px;
}

#play_btn {
  width: 40px;
  height: 40px;
}

#loader {
  visibility: hidden;
  font-family: "pixChicago";
  font-size: 12px;
  color: white;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}
